<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TT</title>
    <meta charset="utf-8" />
</head>
<body>


<h1>Thymeleaf 3 + Spring 4 example</h1>
<p>
    Hello
    <span th:text="${recipient}">Peter</span>!!!<!--/*@thymesVar id="recipient" type="java.lang.String"*/-->
</p>
<div>

   <table border="1">
    <tr th:each="result : ${results}"><!--/*@thymesVar id="results" type="java.util.List<java.lang.String>"*/-->
        <td th:text="${result}">6</td>
        <td th:text="${result}">6</td>
        <td th:text="${result}">6</td>
        <td th:text="${result}">6</td>
    </tr>
   </table>
</div>
</body>
</html>