<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TT</title>
    <meta charset="utf-8"/>
</head>
<body>


<h1>Thymeleaf 3 + Spring 4 example</h1>
<p>
    Hello
</p>
<div>
    <table border="1">
        <!--/*@thymesVar id="documents" type="com.khudim.document.IParsedDocument"*/-->
        <tr th:each="document : ${documents}">
            <td th:text="${document.getPrice()}">6</td>
            <td th:text="${document.getStartDate()}">6</td>
            <td th:text="${document.getUrl()}">6</td>
        </tr>
    </table>
    <form method="POST" th:action="@{/search}">
        <input type="text" name="region" autofocus="autofocus"/>
        <input type="submit" value="Submit now" />
    </form>
</div>
</body>
</html>