<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="user_info">
    <form id="noticeForm" class="ui form" style="margin-top: 50px">
        <h4 class="ui dividing header">Notification Information</h4>
        <label>Min/Max Prices</label>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <!--/*@thymesVar id="user" type="com.khudim.dao.person.Person"*/-->
                    <input type="text" name="minPrice"
                           th:placeholder="${#numbers.formatDecimal(user.getNotifications().get(0).getMinPrice(), 0, 'DEFAULT', 2, 'DEFAULT')}">
                </div>
                <div class="field">
                    <input type="text" name="maxPrice"
                           th:placeholder="${#numbers.formatDecimal(user.getNotifications().get(0).getMaxPrice(), 0, 'DEFAULT', 2, 'DEFAULT')}">
                </div>
            </div>
        </div>


        <h4 class="ui dividing header">Search Region</h4>

        <div class="field">
            <label>City</label>
            <div class="field">
                <input type="text" name="city" th:placeholder="${user.getNotifications().get(0).getRegions()}">
            </div>
        </div>

        <h4 class="ui dividing header">Notification</h4>

        <div class="field">
            <label>Get documents for last days number : </label>
            <div class="field">
                <input type="text" name="date" th:placeholder="${user.getNotifications().get(0).getDate()}">
            </div>
        </div>

        <div class="field">
            <label>Notice me every target hour :</label>
            <div class="field">
                <input type="text" name="rate" th:placeholder="${user.getNotifications().get(0).getRate()}">
            </div>
        </div>
        <div id="submitNotice" class="ui button" tabindex="0">Update Notification</div>
        <div id="sendMail" class="ui button">Send mail</div>

    </form>
</div>
</body>
</html>